--
-- PostgreSQL database dump
--

\restrict NDfHkwwCXdGQMwlMfaC1UAcxTcfkPchXRYKpiTOhLWIvLm9Idnv49nH9yKeynVq

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ApprovalDecision; Type: TYPE; Schema: public; Owner: vacasync
--

CREATE TYPE public."ApprovalDecision" AS ENUM (
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."ApprovalDecision" OWNER TO vacasync;

--
-- Name: EmployeeStatus; Type: TYPE; Schema: public; Owner: vacasync
--

CREATE TYPE public."EmployeeStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."EmployeeStatus" OWNER TO vacasync;

--
-- Name: RequestStatus; Type: TYPE; Schema: public; Owner: vacasync
--

CREATE TYPE public."RequestStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."RequestStatus" OWNER TO vacasync;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: vacasync
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'EMPLOYEE'
);


ALTER TYPE public."Role" OWNER TO vacasync;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ApprovalHistory; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."ApprovalHistory" (
    id text NOT NULL,
    decision public."ApprovalDecision" NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "requestId" text NOT NULL,
    "approverId" text NOT NULL
);


ALTER TABLE public."ApprovalHistory" OWNER TO vacasync;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text
);


ALTER TABLE public."AuditLog" OWNER TO vacasync;

--
-- Name: Department; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."Department" (
    id text NOT NULL,
    name text NOT NULL,
    color text DEFAULT '#3b82f6'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Department" OWNER TO vacasync;

--
-- Name: Employee; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."Employee" (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text NOT NULL,
    "position" text NOT NULL,
    "hireDate" timestamp(3) without time zone NOT NULL,
    "annualVacationDays" integer DEFAULT 22 NOT NULL,
    status public."EmployeeStatus" DEFAULT 'ACTIVE'::public."EmployeeStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "departmentId" text NOT NULL,
    color text DEFAULT '#3b82f6'::text NOT NULL
);


ALTER TABLE public."Employee" OWNER TO vacasync;

--
-- Name: Holiday; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."Holiday" (
    id text NOT NULL,
    name text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "deductsVacation" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Holiday" OWNER TO vacasync;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    read boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public."Notification" OWNER TO vacasync;

--
-- Name: SystemConfig; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."SystemConfig" (
    id text DEFAULT 'singleton'::text NOT NULL,
    "seniorityTiers" jsonb DEFAULT '[{"days": 7, "maxYears": 0.5, "minYears": 0}, {"days": 14, "maxYears": 1, "minYears": 0.5}, {"days": 14, "maxYears": 5, "minYears": 1}, {"days": 21, "maxYears": 10, "minYears": 5}, {"days": 21, "maxYears": 15, "minYears": 10}, {"days": 28, "maxYears": 20, "minYears": 15}, {"days": 35, "maxYears": 99, "minYears": 20}]'::jsonb NOT NULL,
    "minAdvanceNoticeDays" integer DEFAULT 7 NOT NULL,
    "maxOverlapPercent" integer DEFAULT 50 NOT NULL,
    "maxOverlapCount" integer DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "allowAdvanceRequest" boolean DEFAULT true NOT NULL,
    "maxAdvanceDays" integer DEFAULT 0 NOT NULL,
    "nextYearOpenDay" integer DEFAULT 1 NOT NULL,
    "nextYearOpenMonth" integer DEFAULT 10 NOT NULL
);


ALTER TABLE public."SystemConfig" OWNER TO vacasync;

--
-- Name: User; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'EMPLOYEE'::public."Role" NOT NULL,
    "resetToken" text,
    "resetExpires" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "employeeId" text
);


ALTER TABLE public."User" OWNER TO vacasync;

--
-- Name: VacationCycle; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."VacationCycle" (
    id text NOT NULL,
    year integer NOT NULL,
    "annualDays" integer NOT NULL,
    "carryOver" integer DEFAULT 0 NOT NULL,
    "isOpen" boolean DEFAULT false NOT NULL,
    "openedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "employeeId" text NOT NULL
);


ALTER TABLE public."VacationCycle" OWNER TO vacasync;

--
-- Name: VacationRequest; Type: TABLE; Schema: public; Owner: vacasync
--

CREATE TABLE public."VacationRequest" (
    id text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "daysRequested" integer NOT NULL,
    reason text,
    status public."RequestStatus" DEFAULT 'PENDING'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "employeeId" text NOT NULL
);


ALTER TABLE public."VacationRequest" OWNER TO vacasync;

--
-- Data for Name: ApprovalHistory; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Data for Name: Department; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Data for Name: Employee; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Data for Name: Holiday; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Data for Name: SystemConfig; Type: TABLE DATA; Schema: public; Owner: vacasync
--

COPY public."SystemConfig" (id, "seniorityTiers", "minAdvanceNoticeDays", "maxOverlapPercent", "maxOverlapCount", "updatedAt", "allowAdvanceRequest", "maxAdvanceDays", "nextYearOpenDay", "nextYearOpenMonth") FROM stdin;
singleton	[{"days": 7, "maxYears": 0.5, "minYears": 0}, {"days": 14, "maxYears": 1, "minYears": 0.5}, {"days": 14, "maxYears": 5, "minYears": 1}, {"days": 21, "maxYears": 10, "minYears": 5}, {"days": 28, "maxYears": 15, "minYears": 10}, {"days": 28, "maxYears": 20, "minYears": 15}, {"days": 35, "maxYears": 99, "minYears": 20}]	7	50	0	2026-06-19 17:25:09.573	t	0	1	10
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: vacasync
--

COPY public."User" (id, email, password, role, "resetToken", "resetExpires", "createdAt", "updatedAt", "employeeId") FROM stdin;
ccfcc641-2a62-4c2c-bafc-37d51d39ebdc	admin@canaldirecto.com	$2a$10$9/nWRUhkrFFE5TDn7GgSCuNmAfILtbBbGpZh2Y6jaba27uo35TZPu	ADMIN	\N	\N	2026-06-17 17:38:07.497	2026-06-17 17:38:07.497	\N
715230ba-a1d9-4928-a653-730ff42abaf7	imartinez@canaldirecto.com.ar	$2a$10$ne9JdllOUpORjF62iCVN0O0asRMGAtGUH4YO5Q71681MjvR/1qBMK	EMPLOYEE	\N	\N	2026-06-19 17:35:04.687	2026-06-19 17:35:04.687	4a9be2c4-04a0-4b94-86b8-c2e2f863af3a
\.


--
-- Data for Name: VacationCycle; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Data for Name: VacationRequest; Type: TABLE DATA; Schema: public; Owner: vacasync
--



--
-- Name: ApprovalHistory ApprovalHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."ApprovalHistory"
    ADD CONSTRAINT "ApprovalHistory_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Department Department_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_pkey" PRIMARY KEY (id);


--
-- Name: Employee Employee_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_pkey" PRIMARY KEY (id);


--
-- Name: Holiday Holiday_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: SystemConfig SystemConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."SystemConfig"
    ADD CONSTRAINT "SystemConfig_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VacationCycle VacationCycle_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."VacationCycle"
    ADD CONSTRAINT "VacationCycle_pkey" PRIMARY KEY (id);


--
-- Name: VacationRequest VacationRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."VacationRequest"
    ADD CONSTRAINT "VacationRequest_pkey" PRIMARY KEY (id);


--
-- Name: ApprovalHistory_requestId_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "ApprovalHistory_requestId_idx" ON public."ApprovalHistory" USING btree ("requestId");


--
-- Name: AuditLog_entity_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "AuditLog_entity_idx" ON public."AuditLog" USING btree (entity);


--
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- Name: Department_name_key; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE UNIQUE INDEX "Department_name_key" ON public."Department" USING btree (name);


--
-- Name: Employee_email_key; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE UNIQUE INDEX "Employee_email_key" ON public."Employee" USING btree (email);


--
-- Name: Holiday_date_key; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE UNIQUE INDEX "Holiday_date_key" ON public."Holiday" USING btree (date);


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_employeeId_key; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE UNIQUE INDEX "User_employeeId_key" ON public."User" USING btree ("employeeId");


--
-- Name: VacationCycle_employeeId_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "VacationCycle_employeeId_idx" ON public."VacationCycle" USING btree ("employeeId");


--
-- Name: VacationCycle_employeeId_year_key; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE UNIQUE INDEX "VacationCycle_employeeId_year_key" ON public."VacationCycle" USING btree ("employeeId", year);


--
-- Name: VacationCycle_year_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "VacationCycle_year_idx" ON public."VacationCycle" USING btree (year);


--
-- Name: VacationRequest_employeeId_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "VacationRequest_employeeId_idx" ON public."VacationRequest" USING btree ("employeeId");


--
-- Name: VacationRequest_status_idx; Type: INDEX; Schema: public; Owner: vacasync
--

CREATE INDEX "VacationRequest_status_idx" ON public."VacationRequest" USING btree (status);


--
-- Name: ApprovalHistory ApprovalHistory_approverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."ApprovalHistory"
    ADD CONSTRAINT "ApprovalHistory_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ApprovalHistory ApprovalHistory_requestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."ApprovalHistory"
    ADD CONSTRAINT "ApprovalHistory_requestId_fkey" FOREIGN KEY ("requestId") REFERENCES public."VacationRequest"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Employee Employee_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: VacationCycle VacationCycle_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."VacationCycle"
    ADD CONSTRAINT "VacationCycle_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: VacationRequest VacationRequest_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vacasync
--

ALTER TABLE ONLY public."VacationRequest"
    ADD CONSTRAINT "VacationRequest_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict NDfHkwwCXdGQMwlMfaC1UAcxTcfkPchXRYKpiTOhLWIvLm9Idnv49nH9yKeynVq

